:root {
  --color-dark: #222;
  --color-dark-alt: #262626;
  --color-light: #fff;
  --color-accent: linear-gradient(97.1deg, #3043a9 11.99%, #1f629f 96.6%);
  --bg-color: #161d2f;
  --bg-color-alt: linear-gradient(90deg, #09203f 0%, #161d2f 100%);
  --color-gray: #4b4b4b;
  --color-blue: #3043a9;
  --color-green: #63c776;

  --border: 1px solid var(--color-light);
  --border-radius: 28px;
  --border-radius-small: 10px;
  --border-radius-large: 34px;

  --font-family-base: "Poppins", sans-serif;

  --container-width: 1270px;
  --container-padding-x: 15px;

  --section-padding-y: 100px;

  --input-height: 57px;
  --button-height: 53px;

  --transition-duration: 0.2s;
}
